.bankContainer {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 20px;
}

.wrapper {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    width: 100%;
}

.title {
    font-size: 18px;
    margin-block-end: 4px;
}

.buttonContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.button {
    background-color: #d8d8d8;
    border: none;
    color: #2c2727;
    padding: 10px;
    font-size: 16px;
    width: 49%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}
.buttonActive {
    background-color: #ea6767;
    color: #ffffff;
    border: none;
}

.currencyInput {
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.currencyInput input {
    border: 0;
}

.inputButton {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.focused {
    border: #000000 2px solid;
}

.inputDiv {
    width: 100%;
}


.inputValue {
    border: none;
    width: 100%;
    outline-width: 0;
    text-align: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.selectDiv {
    min-width: 80px;
}

.select {
    border: none;
    outline-width: 0;
}

.dashboard {
    display: flex;
    flex-direction: column;
    width: 23%;
    background-color: #d8d8d8;
    height: 50%;
    border-radius: 10px;
    margin-top: 1.2em;
    text-align: left;
    padding: 10px 20px;
}
